<% @title = "Listing " + @vaxtype + " clinics" %>

<% content_for :description do %>
<% if @vaxtype == "Fluvax" %>
  Show <%= link_to "Covax Clinics",admin_clinics_path(vaxtype: "Covax")  %> instead
<% end %>
<% if @vaxtype.start_with? "Covax" %>
  Show <%= link_to "Fluvax Clinics",admin_clinics_path(vaxtype: "Fluvax")  %> instead
<% end %>
<% end %>


<% content_for :actions do %>
<div class='btn-group'>
<%= link_to new_clinic_path(vaxtype: "Covax"), class: 'btn btn-primary btn-large' do %>
<%= fa_icon_tag "plus" %> AZ Clinic
<% end %>
<% if @vaxtype.start_with? "Covax" %>
  <%= link_to new_clinic_path(vaxtype: "CovaxP"), class: 'btn btn-primary btn-large' do %>
  <%= fa_icon_tag "plus" %> Pfizer Clinic
  <% end %>

<% end %>
</div>

<% unless  @vaxtype.start_with? "Covax" %>
<div class='btn-group'>
  <%= link_to new_clinic_path(vaxtype: @vaxtype), class: 'btn btn-primary btn-large' do %>
  <%= fa_icon_tag "plus" %> Add <%= @vaxtype %> Clinic
  <% end %>
    <%= link_to edit_clinic_path(@fluvaxtemplateID), class: 'btn btn-primary btn-large t' do %>
    Edit Fluvax Template
   <% end %>
</div>


<% end %>

<% if  @vaxtype.start_with? "Covax" %>
    <div class='btn-group'>
          <%= link_to edit_clinic_path(@covaxtemplateID), class: 'btn btn-primary btn-large' do %>
        AZ Template
        <% end %>
          <%= link_to edit_clinic_path(@covaxPtemplateID), class: 'btn btn-primary btn-large' do %>
        Pfizer Template
        <% end %>
      </div>
    <% end %>
    <div class='btn-group'>
        <% if @showAll %>
             <%= link_to admin_clinics_path(vaxtype: @vaxtype), class: 'btn btn-primary btn-large ' do %>
            Show current
            <% end %>
        <% else %>
             <%= link_to admin_clinics_path(vaxtype: @vaxtype,showAll: true), class: 'btn btn-primary btn-large ' do %>
              Show past
              <% end %>

        <% end %>
         <%= link_to clinics_path(vaxtype: @vaxtype), class: 'btn btn-primary btn-large ' do %>
        Exit Admin
        <% end %>
      </div>
      <div class='btn-group'>
      <%= link_to "Waiting List",waiting_bookers_path, class: 'btn btn-primary btn-large'  %>
</div>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
              <tr>
                                 <th>Type</th>
                                <th>Date</th>
                                <th>B</th>
                                <th>Show</th>
                                <th>New</th>
                                <th>InvOld</th>
                                <th>InvNew</th>
                                <% if @vaxtype.start_with? "Covax" %>
                               
                                <th>Pair1</th>
                                <th>Pair2</th>

                                <% end %>
                                <th>Start</th>
                        
                                <th>Finish</th>

                                <th>Break</th>
                                <th></th>
                        
                                <th></th>     

                                <th>P/h</th>

                                <th>No</th>
                               
                                <th>Venue</th>

                                <th>Message</th>
                                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @clinics.each do |clinic| %>
              <% booked = Booker.where(clinic_id: clinic.id).count %>
              <tr>
                                <td><b><%= clinic.vaxtype == "Covax" ? "AZ" : "P" %></b>
                                <td><%= clinic.clinicdate.strftime("%d/%m/%y") %></td>
                                <td><%= booked %>
                                <td><%= fa_icon_tag "check-square" if clinic.live %><%= fa_icon_tag "square" unless clinic.live %></td>
                                 
                                <td><%= fa_icon_tag "check-square" if clinic.shownew %><%= fa_icon_tag "square" unless clinic.shownew %></td>
                                 
                                 <td><%= fa_icon_tag "check-square" if clinic.inviteold %><%= fa_icon_tag "square" unless clinic.inviteold %></td>
                                 
                                <td><%= fa_icon_tag "check-square" if clinic.invitenew %><%= fa_icon_tag "square" unless clinic.invitenew %></td>
                                 <% if @vaxtype.start_with? "Covax" %>
                                <td><%= Clinic.find(clinic.pair1).clinicdate.strftime("%d/%m/%y") if clinic.pair1%></td>
                                <td><%= Clinic.find(clinic.pair2).clinicdate.strftime("%d/%m/%y") if clinic.pair2%></td>
                                <% end %>
                                <td><%= clinic.starthour %>:<%= clinic.startminute.to_s.rjust(2, '0') %></td>
                                <td><%= clinic.finishhour %>:<%= clinic.finishminute.to_s.rjust(2, '0') %></td>
                                  <td><%= fa_icon_tag "check-square" if clinic.break %><%= fa_icon_tag "square" unless clinic.break %></td>
                                <td><%= clinic.bstarthour %>:<%= clinic.bstartminute.to_s.rjust(2, '0') %></td>
                                <td><%= clinic.bfinishhour %>:<%= clinic.bfinishminute.to_s.rjust(2, '0') %></td>                            
                                <td><%= clinic.perhour %></td>
                                <td><%= clinic.people %></td>
                              
                                <td><%= clinic.venue %></td>                
                                
                                <td><%= clinic.message %></td>
                                <td class="actions">
                  <%= link_to fa_icon_tag("eye"), clinic, rel: 'tooltip', title: 'Show' %>
                  <%= link_to fa_icon_tag("pencil"), edit_clinic_path(clinic), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to fa_icon_tag("print"), clinic_path(clinic,print: :true), rel: 'tooltip', title: 'Print' %>
                  <% if booked == 0 %>
                  <%= link_to fa_icon_tag("trash-o"), clinic, rel: 'tooltip', title: 'Delete',
                  data: { confirm: 'Are you sure?' }, method: :delete %>
                  <% end %>
                </td>
              </tr>
              <% end %>
              <% if @clinics.length == 0 %>
              <tr><td colspan=42 class='text-center'>No clinics.</td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

                </div>
  </div>
</div>
