<% @title = "Listing " + @vaxtype + " clinics" %>

<% content_for :description do %>


  <% if @vaxtype == "Fluvax" %>
    Show <%= link_to "Covax Clinics",clinics_path(vaxtype: "Covax"),class: 'btn btn-primary btn-large'  %> instead
  <% end %>
  <% if @vaxtype == "Covax" %>
    Show <%= link_to "Fluvax Clinics",clinics_path(vaxtype: "Fluvax"),class: 'btn btn-primary btn-large'  %> instead
  <% end %>
<% end %>


<% content_for :actions do %>

<%= image_tag @vaxtype.downcase+".png", width: '500'%>



<% end %>

<% clinics=Clinic.findAllGroups(@vaxtype[0..-1]) %>
<% if clinics.length == 0 %>
     <div class= 'row'>
          <div class="col-md-4">
            <p>We have no <%= @vaxtype %> available currently.<p> Please check back in a few days.
          </div>
          <div class="col-md-7">
            <%= render "hozform" %>
          </div>
          <div class="col-md-1">
          <%= link_to admin_clinics_path(vaxtype: @vaxtype), class: 'btn btn-primary btn-large pull-right' do %>
            Clinic Admin
          <% end %>
          </div>
      <div>
     
      
<% else %>
       <div class= 'row'>
          <div class="col-md-4">

            We have the following <%= @vaxtype %> clinics available.<p>Please select the time that would suit best<p>

           <%= link_to "Waiting List",new_booker_path, class: 'btn btn-info btn-large'  %>

        </div>
          <div class="col-md-7">
            <%= render "hozform" %>
          </div>
                    <div class="col-md-1">
          <%= link_to admin_clinics_path(vaxtype: @vaxtype), class: 'btn btn-primary btn-large pull-right' do %>
            Clinic Admin
          <% end %>
          </div>
       </div>
       <div class= 'row'>

                <div class="col-md-3 col-md-offset-4">
                       <span id='age-60'> Age <60 <label class="switch switch-warning"><input  type="checkbox" checked onClick="$('#prev-AZ').toggle();$('#recommendation-AZ').toggle();$('#recommendation-P').toggle();"><span></span></label> Age 60+</span>
                </div>
                <div class="col-md-5">
                        <span id='prev-AZ' style="display:none">Previous AstraZ Yes<label class="switch switch-warning"><input  type="checkbox" checked onClick="$('#recommendation-AZ').toggle();$('#recommendation-P').toggle()"><span></span></label> No</span>                 
                </div>
                <div class="col-md-5 col-md-offset-4">
                          <span id='recommendation-AZ'>Recommendation : AstraZeneca</span>
                          <span id='recommendation-P' style="display:none">Recommendation : Pfizer</span>
                </div>


    </div>
     <div class= 'row'>
             <div class="col-md-3 col-md-offset-4">
                  <div class="o-switch btn-group" data-toggle="buttons" role="group">
                      <label class="btn btn-primary active">
                        <input type="radio" name="brand" id="brand1" autocomplete="off"  onChange= "$( '.CovaxP' ).hide();$('.Covax').show();"> AstraZ
                      </label>
                      <label class="btn btn-primary active">
                        <input type="radio" name="brand" id="brand2" autocomplete="off" checked onChange= "$('.Covax').show();$('.CovaxP').show();"> All
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="brand" id="brand3" autocomplete="off" onChange= "$( '.Covax' ).hide();$('.CovaxP').show();"> Pfizer
                      </label>
                  </div>
           </div>
  </div>


      <% clinics.each do |clinic| %>
          

            <div class="panel panel-default <%= clinic.vaxtype %>">
                  <div class="panel-heading">
                      <legend>
                       
                        <%= link_to "Show",clinic_path(clinic), class: 'btn btn-danger btn-small'  %>
                        <%= link_to "Print",clinic_path(clinic,print: :true), class: 'btn btn-danger btn-small'  %>

                        <%= image_tag "pf.png", height: '50' if clinic.vaxtype=="CovaxP"%>
                        <%= image_tag "az.png", height: '50' if clinic.vaxtype=="Covax"%>
                        <%= link_to clinic.clinicdate.strftime("%A, %B %d"), clinic_path(clinic) %>
                         at <%= clinic.venue %>
                         <% unless clinic.live %>
                            (Hidden)
                         <% end %>
                         <%= clinic.message %>
                         <%= link_to "Email",email_clinic_path(clinic), class: 'btn btn-primary btn-small pull-right'  %>
                         <%= link_to "SMS",sms_clinic_path(clinic), class: 'btn btn-primary btn-small pull-right'  %>
                     
                      </legend>
                          <% if clinic.vaxtype == "Covax" %>
                              <b>AZ Covax (Age >= <%= @covaxtemplate.age %>)</b>
                        <% elsif clinic.vaxtype=="CovaxP" %>
                              <b>Pfizer Covax (Ages <%= @covaxPtemplate.age %> to <%= @covaxtemplate.age %>)</b>
                        <% else %>
                              <b>Fluvax</b>
                        <% end %>
                         <% if clinic.pair1 %>
                         Paired with <%= Clinic.find(clinic.pair1).clinicdate.strftime("%A, %B %d") %>
                        <% end %>
                        <% if clinic.pair2 %>
                         and <%= Clinic.find(clinic.pair2).clinicdate.strftime("%A, %B %d") %>
                        <% end %> 
                        
                      

                  </div> 
                  <div class="panel-body">


                      
                          <div class='btn-toolbar'>
                      <% clinic.groups.each do |group | %>
                        <% unless clinic.isBreak?(group.starthour,group.startminute) %>
                            <% if group.vacancies <1 %>
                              <button type='button' class='btn btn-danger btn-small' disabled>
<%= formatTime(group.starthour,group.startminute) + "(" + group.vacancies.to_s + ")" %>
                              </button>
                            <% else %>
                         <%= link_to formatTime(group.starthour,group.startminute) + "(" + group.vacancies.to_s + ")", book_clinic_path(clinic,hour: group.starthour, minute: group.startminute),class: 'btn btn-success btn-small' %>
                          <% end %>
                        <% end %>
                        
                      <% end %>

                    </div>
                  </div>
          </div>
      <% end %>

<% end %>