<% content_for :head do %>
<script type="text/javascript"> 
    window.onload = function() { window.print(); } 
</script>
<% end %>


<style>
  
    .time {
        font-size: 150% !important;
        font-weight: "bold" !important;
    }
    td {
  			font-size:18px !important;
	}



</style>


 <% hourCount= @clinic.starthour %>



 <% while hourCount <= @clinic.finishhour %>
      <% if hourCount == @clinic.starthour %>
              <% minCount = @clinic.startminute %>
      <% else %>
          <% minCount=0 %>
      <% end %>
      <% while minCount < 60  and !(minCount >= @clinic.finishminute and hourCount == @clinic.finishhour) %>

          <% if @clinic.isBreak?(hourCount,minCount) == false %>
          <% @count = @clinic.bookers.where(bookhour: hourCount, bookminute: minCount).count %>

            
        
            <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-7  col-lg-7 time">
                  <b><%= @clinic.vaxtype + " clinic on " + @clinic.clinicdate.strftime("%A, %B %d")%></b>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 time">
                  <b><%= formatTime(hourCount,minCount) %></b>
                </div>
                 
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <%= @count %> / <%= @clinic.people %>
                 </div> 
             </div> 
             <div class="row">                         
                                           
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 ">
                    <%= @clinic.message %>
                </div>
             </div>      
             <div class="row">                         
                                           
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  
                      <table class="table">
                        <thead>
                          <tr>
                          		<th>Name</th>
                          		<th>DOB</th>
                          		<th>Age</th>
                          		<th>Dose</th>
                          		<th>Consent</th>
                          		<th>Arm</th>
                          		<th>BN</th>
                                <th>Next</th>
                          		<th>Billed</th>
                         </tr>
                        </thead>
                        <tbody>
                          <% @clinic.bookers.where(bookhour: hourCount, bookminute: minCount).order(:surname, :firstname).each do | booker | %>
                          <tr>
                                            <td><%= booker.surname %>, <%= booker.firstname %></td>
                                          
                                            <td><%= booker.dob.strftime("%d/%m/%Y") %></td>
                                            <td><%= booker.age.to_s %></td>
                                            <td><%= booker.dose.to_s %></td>
                                            <td><input type="checkbox"></td>
                                            <td>  L   R  </td>
                                            <td></td>
                                            <td>
                                              <% if booker.nextDate != nil %>
                                                           <%= booker.nextDateTime %>
                                               <% end %>
                                              </td>
                                            <td><input type="checkbox"></td>
                                            
  
                            </tr>            

                          <% end %>
                                   <tr>
                                            <td></td>
                                          
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                            <td>  L   R  </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                            
  
                            </tr>  
                                            <tr>
                                            <td></td>
                                          
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                            <td>  L   R  </td>
                                            <td></td>
                                            <td>

                                            </td>
                                            <td><input type="checkbox"></td>
                                            
  
                            </tr>  
                        </tbody>
                      </table>


                
              </div>
            </div>


            <div class="row page-break-before">
           
            </div>

          
            <% end %> <!-- unless break  -->









         <% minCount = minCount + ( 60  / @clinic.perhour) %>
      <% end %>
      <% hourCount = hourCount + 1 %>
  <% end %>
