<% @title = @register.name + " register"%>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
        <%= link_to "<i class='fa fa-refresh'></i> Reload".html_safe,register_path(@register, :reload => "true"),{:class => "btn btn-lg btn-primary"} %> <% if @register.loaded %>
          Information last updated on <%= @register.loaded.in_time_zone("Sydney").strftime("%e %B, %Y at %k:%M %p") %>
        <% else %>
          Register hasn't yet been loaded
        <% end %>
        <%= link_to 'Edit Headers',register_headers_path(register_id: @register.id),{:class => "btn btn-primary btn-large pull-right"} %> 


          <table class="table table-striped">
            <thead>

          <% @headers.each do |header| %>
            <td><%= sort_link(header) %></td>
            <% end %>
          </thead>
            <% @patients.each do |patient| %>
                <tr>
                  <% @headers.each do |header| %>
                  <td>
                  <%= displayCell(patient,header) %>

                  </td>
                  <% end %>
                </tr>
            <% end %>
        
         </table>
    </div>
  </div>
</div>