
 <%= form_tag({action: :nextMessage}, method: "get",remote: :true, class: "form-horizontal" ) do %>
   <%= hidden_field_tag :vaxtype, @vaxtype %>
   <%= hidden_field_tag :message, "checkpatient" %>


   <fieldset>
    
     <div class="form-group row">
       <%= label_tag :name, "Your Surname", class: "form-label col-sm-4" %>
         <%= text_field_tag :surname, nil, class: "input-medium col-sm-5" %> 
      </div>
      <div class="form-group row">
        <%= label_tag :name, "First name", class: "form-label col-sm-4" %>
        <%= text_field_tag :firstname, nil, class: "input-medium col-sm-5" %>
     </div>
     <div class="form-group row">
      <%= label_tag :dob, "Date of Birth", class: "form-label col-sm-4" %>
      <%= select_day(Date.today) %><%= select_month(Date.today) %> <%= select_year(1950, start_year: 1920, end_year: 2005) %> 
        </div>





     <div class="form-actions col-sm-offset-4 col-sm-8">
       <%= submit_tag "Find Me", class: "btn-primary" %>
     </div>
   </fieldset>

<% end %>