<% @title = "Listing masters" %>

<% content_for :description do %>
'Masters' are the general categories for goals, such as 'General', 'Diabetes', 'Pain', 'Musculoskeletal' etc
<% end %>

<% content_for :actions do %>
<%= link_to new_master_path, class: 'btn btn-primary btn-large pull-right' do %>
<%= fa_icon_tag "plus" %> Add Master
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
              <tr>
                                <th>Name</th>
                                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @masters.each do |master| %>
              <tr>
                                <td><%= master.name %></td>
                                <td class="actions">
                  <%= link_to fa_icon_tag("eye"), master, rel: 'tooltip', title: 'Show' %>
                  <%= link_to fa_icon_tag("pencil"), edit_master_path(master), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to fa_icon_tag("trash-o"), master, rel: 'tooltip', title: 'Delete',
                  data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
              <% end %>
              <% if @masters.length == 0 %>
              <tr><td colspan=42 class='text-center'>No masters.</td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

                </div>
  </div>
</div>