<% @title = "Document case" %>

<% content_for :description do %>
 <% if session[:username] %>
  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
      Showing Case for <%= @patient_name %>
        <%= link_to 'Add resource from Library',docs_path(source: :case), class: 'btn btn-primary btn-medium pull-right' %><br>
       <%= case_url(@case.code) %>
                            <button type='button' onClick="navigator.clipboard.writeText('<%= case_url(@case.code) %>');">Copy</button>

    </div>
  </div>
 <% else %>
  <p>These are some resources you may find useful</p>
<% end %>
  <% end %>
 <div class="container-fluid">
  <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sheet sheet-condensed">
        
          <% if session[:username] %> 
         
            Message<p>
            <a href="#" id="case_<%=@case.code%>" data-tpl="<textarea cols='50'></textarea>" data-defaultValue="Add new message" data-type="textarea" data-mode="inline" data-resource="case"  data-name="message" data-emptytext= "Enter a message to patient here" data-url="/cases/<%=@case.code%>" data-placeholder="My message" data-original-title="My message 2" class="editable editableUpdate"><%= textarea_format(@case.message) %> </a>
         
        <% else %>
          <%= @case.message %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
              <tr>
                                <th>Name</th>
                                
                                <th>Thumbnail</th>
                                <th>Description</th>
                                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @case.docs.each do |doc| %>
              <tr>              
                                <td> 
                                   
                                      <% if doc.filename.starts_with?("local")  %>
                                        <%= link_to doc.name, document_path(id: doc.filename[6..-1]), rel: 'tooltip', title: 'Show', :target => "_blank" %>
                                      <% elsif doc.filename.starts_with?("http")%>
                                        <%= link_to doc.name, doc.filename, rel: 'tooltip', title: 'Visit', :target => "_blank" %>
                                      <% else %>             
                                         <%= link_to doc.name, "/library/"+doc.filename, rel: 'tooltip', title: 'Show' %>
                                      <% end %>
                                   
                                  
                                </td>

                                <td>
                                  
                                  <% if doc.filename.starts_with?("local") %>
                                    
                                      <%= link_to document_path(id: doc.filename[6..-1]) do %>
                                        <% if doc.thumbnail and ! doc.thumbnail.blank? %>
                                              <%= image_tag '/library/thumbnails/' + doc.thumbnail, {height: '128', class: :thumbnail} %>
                                        <% else %>
                                              <%= image_tag '/library/thumbnails/aladdin-document.png', {height: '128', class: :thumbnail} %>
                                        <% end %>
                                      <% end %>
                                  <% elsif doc.filename.starts_with?("http")%>
                                        <%= link_to doc.filename do %>
                                        <%= image_tag '/library/thumbnails/' + doc.thumbnail, {height: '128', class: :thumbnail    , rel: 'tooltip', title: 'Visit', :target => "_blank"} %>
                                        <% end %>
                                  <% else %>
                                       <%= link_to "/library/"+doc.filename, rel: 'tooltip', title: 'Show'  do %>
                                              <%= image_tag '/library/thumbnails/' + doc.thumbnail, {height: '128', class: :thumbnail} %>
                                        <% end %>
                                        
                                  <% end %>
                              
                               </td>
                    
                                <td><%= doc.description %></td>
  
                                <td class="actions">
                  <% if doc.filename.starts_with?("local")  %>
                    <%= link_to fa_icon_tag("eye"), document_path(id: doc.filename[6..-1]), rel: 'tooltip', title: 'Show' %>
                     <% unless session[:username] %>
                    <%= link_to fa_icon_tag("pencil"), edit_document_path(id: doc.filename[6..-1],source: "library"), rel: 'tooltip', title: 'Edit' %>
                    <% end %>
                  <% else %>

                     <%= link_to fa_icon_tag("eye"), "/library/"+doc.filename, rel: 'tooltip', title: 'Show' %>
                 
                     <%= link_to fa_icon_tag("download"), "/library/"+doc.filename, download: doc.filename ,rel: 'tooltip', title: 'Download' %>
                     <% unless session[:username] %>  
                         <%= link_to fa_icon_tag("pencil"), edit_doc_path(doc, source: "library"), rel: 'tooltip', title: 'Edit' %> 
                     <%= link_to fa_icon_tag("trash-o"), doc, rel: 'tooltip', title: 'Delete',  data: { confirm: 'Are you sure?' }, method: :delete %>
                     <% end %>
                 
                  <% end %>
                  
                  
                  
                </td>
              </tr>
              <% end %>
              <% if @case.docs.length == 0 %>
              <tr><td colspan=42 class='text-center'>No documents found <%= @showing2 %> </td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

                </div>
  </div>
</div>




