<% @title = "Showing document" %>

<% content_for :description do %>

  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sheet sheet-condensed">
          <div class="sheet-inner p30">
            <div class="form-horizontal">
                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @doc.name %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Filename</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @doc.filename %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Thumbnail</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @doc.thumbnail %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @doc.description %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


             <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Cat</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= showCat(@doc.cat) %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>





             <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Tags</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                           <% tag_array =[] %>
                                    <% @doc.tags.each do |tag| %>
                                        <% tag_array << tag.name %>
                                    <% end %>
                                    <%= tag_array.reject(&:blank?).join(',') if tag_array %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>



                            <div class="form-actions col-md-offset-2">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_doc_path(@doc), class: 'btn btn-primary' %>
                <%= link_to 'Back', docs_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
