
  <% action = "slots" if action.nil? %>


  <%= form_tag({action: action}, method: "get",class: "form-horizontal form-inline" ) do %>
   <fieldset>
     <div class="form-group">
        
        <label class="switch switch-warning"> <%= check_box_tag 'init', 'init', false %><span></span></label>Init
        <label class="switch switch-warning"><%= check_box_tag 'update', 'update', true %><span></span></label> Update
      
      
        <% nextWeek = @theStartDate + @noDays.days %>
        <% lastWeek = @theStartDate - @noDays.days %>
        <% lastWeek = Date.today if lastWeek < Date.today and @preventPast == true %>
         <%= link_to ("<i class='fa fa-chevron-left'></i>&nbsp;" + lastWeek.strftime("%d/%m")).html_safe, url_for(action: action,'date[day]' => lastWeek.strftime("%d"),'date[month]' => lastWeek.strftime("%m"),'date[year]' => lastWeek.strftime("%Y")), {:class => "btn btn-primary btn-xs", "data-no-turbolink" => "true"} %>
        <%= select_date(@theStartDate, {order: [:day, :month, :year]}, {class: "form-control input-sm"}) %>

        <%= submit_tag "Go", class: "btn btn-primary btn-xs" %>
        <%= link_to (nextWeek.strftime("%d/%m") + "&nbsp;<i class='fa fa-chevron-right'></i>").html_safe, url_for(action: action,'date[day]' => nextWeek.strftime("%d"),'date[month]' => nextWeek.strftime("%m"),'date[year]' => nextWeek.strftime("%Y")), {:class => "btn btn-primary btn-xs", "data-no-turbolink" => "true"} %>
      </div>
     
   </fieldset>
<% end %>