
		<div class="row">
			<div class="col-md-3">
				<% if session[:username] %>
					<span class='small'>Horiz</span> <label class="switch switch-warning"><input id='bookMode' type='checkbox' <%= "checked='checked'" if @mode=="v" %>><span></span></label> <span class='small'> Vert</span><p>
					<span class='small'>
						Days <%= select_tag(:noDays, options_for_select([['1',1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],@noDays)) %>
					</span><p>
				<% end %>
			</div>
			<div class="col-md-9">
			<%= render "appointments/datechange" %>
			</div>
		</div>

	<div class="row">

		<span class='small'>Select an appt time (green button) below, if available</span><p>

			
		<% @doctors.each do |doctor| %>
		<div class="row well">
			<div class="col-md-2"><%= doctor.name %></div>
			
			<div class="col-md-10" style="background-color: #cccccc;"> <%# 9 COL %>

			<div class="row"> <%# BUTTON ROW %>
			

	        <% dayCount = 1 %>
	        <% thisDate = @theStartDate %>
	        <% doctorFreeCount = doctor.freeCount(@theStartDate,@noDays) %>
	        <% while dayCount <= @noDays %>
	        	<% unless thisDate.saturday? or thisDate.sunday? %>
	        	
				        	<% thisDateCode= thisDate.month*100 +  thisDate.day %>
				        	
				        	
							<% if doctorFreeCount == 0 and dayCount == 1 %>
									
									<% nextAvailableSlot = doctor.nextAvailable(@theStartDate) %>
									<% if nextAvailableSlot == nil  %>
									<button class="btn btn-danger btn-xs btn-block">No appts available online<br>Please phone (02) 66280505</button>

									<% else %>

									        <%= link_to "Next available appointment is <br>".html_safe + nextAvailableSlot.appointment.strftime("%a, %b %e") + " <i class='fa fa-chevron-right'></i> (Show me)".html_safe, url_for(action: 'index','date[day]' => nextAvailableSlot.appointment.strftime("%d"),'date[month]' => nextAvailableSlot.appointment.strftime("%m"),'date[year]' => nextAvailableSlot.appointment.strftime("%Y")), {:class => "btn btn-warning btn-xs btn-block"} %>

									<% end %>
									
							<% elsif  doctorFreeCount > 0 %>
								<% if @mode=="v" %>

									<div class="col-md-<%= @noCols %>">	<%# VERT DAY  %>
									<div class='btn-group-vertical'>
									<%# v is number of cols and h is the date and cols %>

									<span class="small center"><%= thisDate.strftime("%a %b%e").html_safe %></span>
								<% else %>
								<div class="col-md-3">
									<span class="small center"><%= thisDate.strftime("%a %b%e").html_safe %></span>
								</div>
								<div class="col-md-9"> <%# HORIZ DAY %>
								<% end %>
								<%# at this point, div is open for green buttons. Both h and v should close after buttons %>

								<% freesThisDay = doctor.freesThisDay(thisDate) %>

								<% if freesThisDay.empty? %>
								<button class='btn btn-danger btn-block btn-xs fa fa-minus'></button>
								<%= "</div style='0'>".html_safe if @mode == "v"%> <%# end button group%>

								<% else %>
								    <%# <%= ("<div class='btn-group-vertical'>").html_safe if @mode=="v" %>

									<% i=0 %>
									
									<% dateCount = freesThisDay.length %>
									
									<% freesThisDay.each do |slot|%>
											<% thisTimeCode = slot.appointment.hour * 100 +slot.appointment.min %>
											<% slot.appt_id = 0 unless slot.appt_id %>
											
											<%# slot is a slot so its datetime is apptTime.appointment this was code[1]
											<%# is apptTime a potenial doubleappt is apptTime.single?  %>
											<%# code[0] = thisDateCode
												code[1] = slot.appointment
												doctor[1] = doctor.genie_id
												doctor[0] = doctor.name
			=									apptTime[0] = thisTimeCode
												apptTime[1] = single 1 double == false or 2 double == true
												apptTime[2] = the genie appointmentID = slot.appt_id

											%>

											
										
											

											<% if i ==0 %>
											<button class="btn btn-success btn-xs date-scroller"   id="<%= i %>-up-<%= doctor.genie_id.to_s + '-' + thisDateCode.to_s  %>"><i class="fa fa-minus"></i></button>


											<% else %>
											<button class="btn btn-success btn-xs date-scroller" style="display:none;".html_safe data-doctor="<%= doctor.genie_id.to_s %>" data-code="<%= thisDateCode.to_s %>" data-direction="up" data-show="<%= show(i,dateCount,@displayCount,"up") %>" data-hide="<%= hide(i,dateCount,@displayCount,"up") %>" data-uparrowhide="<%= uparrowhide(i,dateCount,@displayCount,"up") %>" data-uparrowshow="<%= uparrowshow(i,dateCount,@displayCount,"up") %>" data-downarrowhide="<%= downarrowhide(i,dateCount,@displayCount,"up") %>" data-downarrowshow="<%= downarrowshow(i,dateCount,@displayCount,"up") %>" data-code="<%= thisDateCode.to_s %>" id="<%= i %>-up-<%= doctor.genie_id.to_s + '-' + thisDateCode.to_s  %>"><i class="fa fa-arrow-<%= @mode== 'h' ? 'left' : 'up' %>"></i></button>

											<% end %>
										
											<a class="btn btn-success btn-xs apptTime <%= 'single' unless slot.double? %>" <%= "style='display:none;'".html_safe if i > @displayCount %> id="<%= i.to_s + '-' + doctor.genie_id.to_s + '-' + thisDateCode.to_s %>" data-doctor="<%= doctor.genie_id.to_s%>" data-doctor_name="<%= doctor.name.to_s%>" data-appt_id="<%= slot.appt_id.to_s %>"    data-date="<%= thisDate.strftime("%Y-%m-%d")%>" data-time="<%= thisTimeCode.to_s %>" ><%= to_simple_time(thisTimeCode) %></a>

											<% if i == dateCount -1 %>
											<a class="btn btn-success btn-xs date-scroller "  style="display:none;".html_safe id="<%= i %>-down-<%= doctor.genie_id.to_s + '-' + thisDateCode.to_s  %>"><i class="fa fa-minus"></i></a>
											<% else %>
											
											<a class="btn btn-success btn-xs date-scroller" <%= "style='display:none;'".html_safe unless i == @displayCount and dateCount > @displayCount %> data-doctor="<%= doctor.genie_id.to_s %>" data-code="<%= thisDateCode.to_s %>" data-direction="down" data-show="<%= show(i,dateCount,@displayCount,"down") %>" data-hide="<%= hide(i,dateCount,@displayCount,"down") %>" data-uparrowhide="<%= uparrowhide(i,dateCount,@displayCount,"down") %>" data-uparrowshow="<%= uparrowshow(i,dateCount,@displayCount,"down") %>" data-downarrowhide="<%= downarrowhide(i,dateCount,@displayCount,"down") %>" data-downarrowshow="<%= downarrowshow(i,dateCount,@displayCount,"down") %>" id="<%= i %>-down-<%= doctor.genie_id.to_s + '-' + thisDateCode.to_s  %>"><i class="fa fa-arrow-<%= @mode== 'h' ? 'right' : 'down' %>"></i></a>
											<% end %>
											<% i = i + 1 %>
											
									  <% end %> <%# end apptime %>
								      <%#= ("</div>").html_safe if @mode=="v" %>
								      <%#= "<>".html_safe if @mode=="h" %>
								  	  <%= "</div style='0'>".html_safe if @mode == "v"%> <%# end button group%>
								<% end %> <%# end day loop @appointments[doctor[1]][code[0]].empty?%>

								
							
							<% end %> <%# end elsif unless @doctorsFreesCount[doctor[1]] > 0 %>
							<%= "</div style='1'>".html_safe unless doctorfreeCount == 0%> <%# EDN OF col-md-9 for V %>
							<% dayCount = dayCount + 1 %>
				<% end %> <%# unless Saturday or Sunday %>
				
				<% thisDate = thisDate + 1.days %>
			<% end %>  <%# end date code %>
			<%= "</div style='buttonRow'>".html_safe if @mode == "h" or @mode=="v"%>  <%# end BUTTON ROW in V%>
			<%= "</div style='col-md-9'>".html_safe if @mode == "h" or @mode=="v"%>  <%# end BUTTON ROW in V%>
		 </div style='rowwell'> <%#  end row  well %>
		<% end %> <%# doctor %>

	</div>