<% @title = "Bookings" %> 
<legend><i class="fa fa-line-chart"></i>Bookings</legend>



<table class='table table-condensed table-striped table-bordered'>
<thead>
<tr>
	<th>Day</th>
	<th>Number Docs</th>
	<th>Total Booked</th>
	<th>Routines Booked</th>
	<th>Routines Available</th>
	<th>Acutes Available</th>
	<th>Acutes Booked</th>
	<th>Total Available</th>

</tr>

</thead>

	<tbody>
	<% @bookings.each do |booking| %>
	<tr>
    <td><%= booking[0].strftime("%a, %b %d") %></td>
	<td><%= booking[1]%></td>

	<td><%= booking[3]%></td>

	<td><%= booking[4]%></td>

	<td><%= booking[2]%></td>

	<td><%= booking[5]%></td>

	<td><%= booking[6].to_i %></td>

	<td><%= booking[2].to_i + booking[5].to_i  %></td>
	</tr>
	<% end %>

   
</tbody>
</table>
