<% @title = "PIP" %> 
<legend><i class="fa fa-line-chart"></i>Cervical Screening</legend>
<table class='table table-condensed table-striped tab;e-bordered'>
<tr><td>Total Smears </td><td><%= @smearDone%> </td></tr>
<tr><td>Total Eligible </td><td> <%= @smearTotal %> </td></tr>
<tr><td>PIP Target </td><td> 70% </td></tr>
<tr><td>Acheived</td><td><%= (@smearDone.to_f/@smearTotal.to_f * 100).to_i %>% </td></tr>
</table>


<legend><i class="fa fa-line-chart"></i>Mammography</legend>
<table class='table table-condensed table-striped tab;e-bordered'>
<tr><td>Total Mammograms </td><td><%= @mamDone %> </td></tr>
<tr><td>Total Eligible </td><td> <%= @mamTotal %> </td></tr>
<tr><td>Target </td><td> 70% </td></tr>
<tr><td>Acheived</td><td><%= (@mamDone.to_f/@mamTotal.to_f * 100).to_i %>% </td></tr>
</table>

<legend><i class="fa fa-line-chart"></i>Diabetic Cycles of Care</legend>
<table class='table table-condensed table-striped tab;e-bordered'>
<tr><td>Total Diabetics </td><td><%= @diabeticTotal %> </td></tr>
<tr><td>Total Cycles of Care </td><td><%= @diabeticCycles %> </td></tr>

<tr><td>Target </td><td> 70% </td></tr>
<tr><td>Acheived</td><td><%= (@diabeticCycles.to_f/@diabeticTotal.to_f * 100).to_i %>% </td></tr>
</table>

<p>

<legend><i class="fa fa-line-chart"></i>Shared Health Summary</legend>
<table class='table table-condensed table-striped tab;e-bordered'>
<tr><td>Total</td><td><%= @shs[0] %> </td></tr>

<tr><td>Target </td><td> 25 </td></tr>
<tr><td>Number required</td><td><%= 25 - @shs[0].to_i  %> </td></tr>
</table>

 <%= content_tag :div,"", class: "chart",id: "shs", data: {values: @charted_values, labels: ["Total"], xkey: "DATE", ykeys: ["SHS"], units: " Uploads" , goals: [25]  }, style: "min-height: 250px;" %>



 <table class='table table-condensed table-striped tab;e-bordered'>
<thead>
<tr>
	<th>Provider</th><th>Uploads this quarter</th><th>Uploads last quarter</th>
</tr>

</thead>

	<tbody>
	<tr><td>Overall </td><td><%= @shs[0] %></td><td><%= @shs[1] %></td>
<% @shsusers.each do |user| %>

	<tr><td><%= user[0]  %> </td><td><%= user[2] %></td><td><%= user[3] %></td></tr>
<% end %>
</tbody>
</table>



