<h2><%= @patient.fullname %></h2>
<%= link_to 'Back', :back, {:class => "btn btn-lg btn-primary"} %>

<%= @result['COLLECTIONDATE'].strftime("%d/%m/%Y") %> <%= @result['TEST'] %><p>

<pre>
<%= pit_convert(@result['RESULT']).html_safe%>
</pre>






