<div  class= "no-page-break-inside">
            <legend class="panel-title"><i class="fa fa-medkit"></i>  Bowel Cancer Screening</legend>

       
            <div class="panel-body">
             <table class='table table-striped table-bordered table-condensed'>
        
            <tr><td width=50%>
            	<% @colonoscopy = @patient.colonoscopy %>
                <% if @colonoscopy[0] %>
                        <%= @colonoscopy[0] %>
                </td>
                    <% if @colonoscopy[1] %>
                    <td><%= @colonoscopy[1].strftime("%d/%m/%Y") %> </td>
                    <% else %>
                        <td>No date recorded</td>
                   <% end %>

                    <td>
                          <%= status_symbol if @colonoscopy[1] and @colonoscopy[1] > 3.years.ago %>
                        <%= status_symbol("orange","Possibly Due") if @colonoscopy[1] == false or (@colonoscopy[1] and @colonoscopy[1] < 3.years.ago) %>


                    </td>

                <% else %>
                Colonscopy</td><td>None recorded</td><td></td>
                <% end %>
               </tr>

              <tr><td width=50%>Faecal Blood Test</td>
              		<% @lastFHH = @patient.lastFHH %>
                <% if @lastFHH and @lastFHH !=0 %>

                       <td><%= @lastFHH.strftime("%d/%m/%Y") %></td>
                       <td>
                      <%= status_symbol if @colonoscopy[0] and @colonoscopy[1] > 3.years.ago %>
                      <%= status_symbol if @lastFHH >  2.years.ago %>
                    <%= status_symbol("red","Due") if @colonoscopy[0] == false  and @lastFHH < 2.years.ago %>
                    <%= status_symbol("orange","Possibly Due") if @colonoscopy[0] and (@colonoscopy[1] == false or (@colonoscopy[1] and @colonoscopy[1] < 5.years.ago)) and @lastFHH < 2.years.ago%>
                    </td>
                <% else %>
                   
                    <% if @patient.age < 50 %>
                        <td>Usual start age 50</td>
                        <td></td>
                    <% else %>
                        <td>Not recorded </td>
                        <td>
                        <%= status_symbol if @colonoscopy[0] and @colonoscopy[1] and @colonoscopy[1] > 3.years.ago %>
                        <%= status_symbol("red","Due") unless @colonoscopy[0] %>
                        <%= status_symbol("orange","Possibly Due") if @colonoscopy[0] and (@colonoscopy[1]== false or (@colonoscopy[1] and @colonoscopy[1] < 5.years.ago)) %>
                        </td>
                    <% end %>
                    
                <% end %>
               </tr>
                
            </table>
            </div>
            </div> <!-- end no page break -->
