 <div id='consult_form' >
 <%= form_tag({action: "consult"}, remote:true, class: "form-vertical") do %>
   <fieldset>
     <div class="form-group row">
       <%= label_tag :name, "Consult Type", class: "form-label col-sm-3" %>
         <%= select_tag "type", options_for_select([ "Consult", "Home Visit","After Hours Consult", "After Hours Home Visit", "Phone Call", "After Hours Phone Call" ], "Consult"), class: "input-medium col-sm-5" %> 
      </div>
      <div class="form-group row">
        <%= label_tag :name, "Note", class: "form-label col-sm-3" %>
        <%= text_area_tag :consult, nil, class: "input-medium col-sm-8", id: "consult_note_field"  %>
     </div>
     <div class="form-actions col-sm-offset-3 col-sm-9">
       <%= submit_tag "Save in Genie", class: "btn-primary" %>
     </div>
   </fieldset>
<% end %>

</div>
<div id="saved_consult"></div>