       		           <!--   problems  -->
						
	
						<h4>Procedures and Operations</h4>
						<div class='row'>
						<% if @patient.procedures.count > 0  %>
							
					 		<% @patient.procedures.each do |problem| %>
					 			<div class='col-md-11 col-md-offset-1'>
								<b><%= problem['HISTORY'] %> <%= "(" + problem['CREATIONDATE'].strftime("%d/%m/%Y") + ")" if problem['CREATIONDATE']%></b>
								</div>
								<div class='col-md-10 col-md-offset-2'>
								<%= simple_format(problem['NOTE'])%>
								</div>
							<% end %>
						
					    <% else %>
					    <div class='col-md-11 col-md-offset-1'>
					    		Nil recorded
					    </div>
						<% end %>
						</div> <!-- row -->
						<h4>Medical Events</h4>
						<div class='row'>
						<% if @patient.events.count > 0  %>
							
					 		<% @patient.events.each do |problem| %>
					 		<div class='col-md-11 col-md-offset-1'>
								<b><%= problem['HISTORY'] %> <%= "(" + problem['CREATIONDATE'].strftime("%d/%m/%Y") + ")" if problem['CREATIONDATE']%></b>
								</div>
								<div class='col-md-10 col-md-offset-2'>

								<%= simple_format(problem['NOTE'])%>
								</div>
							<% end %>
							
					    <% else %>
					    <div class='col-md-11 col-md-offset-1'>
					    		Nil recorded
					    </div>
						<% end %>	
						</div> <!-- row -->					
						
						<!--   End problems  -->