       		           <!--   problems  -->
						
	
						<h3>Procedures and Operations</h3>
						<div class='row'>
						<% if @procedures.count > 0  %>
							
					 		<% @procedures.each do |problem| %>
					 			<div class='col-md-11 col-md-offset-1'>
								<b><%= problem['HISTORY'] %> <%= "(" + problem['CREATIONDATE'].strftime("%d/%m/%Y") + ")" if problem['CREATIONDATE']%></b>
								</div>
								<div class='col-md-10 col-md-offset-2'>
								<%= simple_format(problem['NOTE'])%>
								</div>
							<% end %>
						
					    <% else %>
					    <div class='col-md-11 col-md-offset-1'>
					    		Nil recorded
					    </div>
						<% end %>
						</div> <!-- row -->
						<h3>Medical Events</h3>
						<div class='row'>
						<% if @events.count > 0  %>
							
					 		<% @events.each do |problem| %>
					 		<div class='col-md-11 col-md-offset-1'>
								<b><%= problem['HISTORY'] %> <%= "(" + problem['CREATIONDATE'].strftime("%d/%m/%Y") + ")" if problem['CREATIONDATE']%></b>
								</div>
								<div class='col-md-10 col-md-offset-2'>

								<%= simple_format(problem['NOTE'])%>
								</div>
							<% end %>
							
					    <% else %>
					    <div class='col-md-11 col-md-offset-1'>
					    		Nil recorded
					    </div>
						<% end %>	
						</div> <!-- row -->					
						
						<!--   End problems  -->