
<div class="row">
	<div class="col-md-2">
		GPMP (721)
	</div>
	<div class="col-md-3">
		<% if @item_numbers['721'] %>
		<% Time.now >  @item_numbers['721'] + 12.months ? tag= "mark" : tag= "span" %>
		<%= content_tag(tag, @item_numbers['721'].strftime("%d/%m/%y")) %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	TCA (723)
	</div>
	<div class="col-md-3">
		<% if @item_numbers['723'] %>
	   <% Time.now >  @item_numbers['723'] + 12.months ? tag= "mark" : tag= "span" %>	
	   <%= content_tag(tag, @item_numbers['723'].strftime("%d/%m/%y")) %>
	   <% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	 EPC Review (732)
	</div>
	<div class="col-md-3">
		<% tag= "span" %>
		<% if @item_numbers['732'] and @item_numbers['721'] %>
		<% Time.now <  @item_numbers['721'] + 12.months and Time.now > @item_numbers['732'] + 3.months ? tag= "mark" : tag= "span" %>
		<% end %>
		<%= content_tag(tag, @item_numbers['732'].strftime("%d/%m/%y")) %>
	
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		Diabetes SIPP
	</div>
	<div class="col-md-3">
		<% if @item_numbers['2517'] %>
		<% Time.now >  @item_numbers['2517'] + 12.months ? tag= "mark" : tag= "span" %>
		<%= content_tag(tag, @item_numbers['2517'].strftime("%d/%m/%y")) %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		Annual Check
	</div>
	<div class="col-md-3">
		<%= @last_annual_check.strftime("%d/%m/%y") if  @last_annual_check %>
	</div>
</div>

<% if @patient.age >= 75 %>
<div class="row">
	<div class="col-md-3">
		Health Assessment
	</div>
	<div class="col-md-3">
		<%= @item_numbers['701'].strftime("%d/%m/%y") if  @item_numbers['701']%>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col-md-3">
		Medication Review
	</div>
	<div class="col-md-3">
		<%= @item_numbers['900'].strftime("%d/%m/%y") if  @item_numbers['900']%>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		Shared Health Summary
	</div>
	<div class="col-md-3">
		<%= @lastSHS == nil ? "Not uploaded" : @lastSHS.strftime("%d/%m/%y") %>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		EPC Referrals
	</div>
	<div class="col-md-3">
		<%= @epc_count %>
	</div>
</div>