							<!--   Med Changes -->
				        <% if meds.count > 0 or @changes.count> 0 %>
				        <hr>

				        <legend><i class="fa fa-exchange"></i>  Medication Changes</legend>

				        <ul>
				        <% meds.each do |task| %>
				        	<li><%= task %></li>
				        <% end %>
				         <% @changes.each do |change| %>

				        	<li><%= change['Change'] %> - <%= change['DrugName'] %> <%= change['Dose'] %> <%= change['Reason'] %></li>
				        <% end %>
				        </ul>
				    	<% end %>
				    	<!--   End Med Changes -->