    	 			<h2><%= @patient.fullname%></h2>
                    <div class="row">
                        <div class="col-md-2">
                        DOB: 
                        </div>
                        <div class="col-md-4">
                        <%= @patient.dob.strftime("%d/%m/%y") %>
                        </div>
                        <div class="col-md-2">
                        Age: 
                        </div>
                        <div class="col-md-4">
                        <%= @patient.age %>
                        </div>                        
                        <div class="col-md-2">
                        Address: 
                        </div>
                        <div class="col-md-10">
                        <%= @patient.addressline1 + "," if @patient.addressline1 !="" %>
                        <%= @patient.addressline2 + "," if @patient.addressline2 !="" %>
                        <%= @patient.suburb %>
                        </div>
 
                     </div>

