       		           <!--   problems  -->
					
						
						<% if @current_problems.count > 0   %>

					 		<% @current_problems.each do |problem| %>
					 		<div class="row">
					 			<div class="col-md-12">
								<h3><%= problem['PROBLEM'] %></h3>
								<%= problem['DIAGNOSISDATE'].strftime("%d/%m/%y") if problem['DIAGNOSISDATE'] %></b>

								</div>
								<div class="col-md-10 col-md-offset-2">
								<%= simple_format(problem['NOTE'])%>
								</div>
								<% @goals=get_goals(problem['ID']) %>
								<div class="col-md-2 text-right">
								
								<b>Goals</b>
								</div>
								<div class="col-md-10">
								<% @goals.each do |goal| %>
								<% @goal = goal %>
								<%= render @goal %>
 
								<% end %>
								<% if ! @print %>
								<div id="goal-placeholder-<%= problem['ID']%>-<%= @id %>" ></div>
								<a href ="#new-goal-modal" data-condition= "<%= problem['ID']%>" class="new_goal_link" >New Goal</a>
								
								<% end %>
								</div>
							</div>
							<hr>
							<% end %>
							
						<% end %>

				

						
						<!--   End problems  -->

