<% content_for :head do %>
<script type="text/javascript"> 
    window.onload = function() { window.print(); } 
    window.onfocus=function(){ window.close();}
</script>

<% end %>

<div class="row">
                <div class="col-xs-3">
                        <h2>Care Plan</h2>
                        Updated <%= Date.today.to_s(:long_ordinal) %>

                </div>
    			<div class="col-xs-9">
    					<%= render "patient" %>

    	 		</div>


</div>

<div class="row" >

<div class="col-md-12">


      


   
    <legend><i class="fa fa-medkit" aria-hidden="true"></i>  Summary</legend>


      <%= render "introduction" %>
      <hr>
      <div class="col-xs-12" style="height:100px;"></div>
                  <%= render partial: "tasks", locals: {tasks: @tasks} %>
            
            <%= render partial: "notes",locals: {notes: @notes} %> 

            <%= render partial: "medchanges", locals: {meds: @meds, prescription_history: @prescription_history} %> 

</div> <!-- col -->
</div> <!--  row -->

 <% if Paragraph.where(patient_id: @patient.id).where.not(paragraph: [nil, ""]).joins(:chapter).where("Chapters.section_id = 1").count > 0 %>

 <div class="row page-break-before"> <!-- Full screen row -->
<div class="col-xs-12">
          <%= @patient.fullname %>

          <legend><i class="fa fa-book"></i> My Story</legend>
          
       
            <div class="panel-body">
                    <%= render partial: "storyprint", locals: {section: 1}  %>
            </div>




</div> <!-- col -->
</div> <!--  row -->
<% end %>


 <div class="row page-break-before"> <!-- Full screen row -->



   <div class="col-md-12">
    <%= @patient.fullname %>
      <legend><i class="fa fa-medkit"></i>  My Health Summary</legend>
      
   </div>




  <div class="col-md-6">

 
      <legend class="panel-title"><i class="fa fa-heartbeat"></i>  Current Conditions</legend>
      <div class="panel-body">

                <%= render "problems_notes" %>
      </div>

  </div> <!-- col -->

<div class="col-md-6">
     
   

         <legend class="panel-title"><i class="fa fa-hospital-o"></i>  Medical History</legend>

     
             <div class="panel-body">
                  <%= render "history_notes" %>
            </div>

</div> <!-- col -->
   <div class="col-md-12">
      <hr>

      
   </div>
</div> <!--  row -->





<div class="row no-page-break-inside"> <!-- Full screen row -->
<div class="col-xs-12">
          <%= @patient.fullname %>

          <legend><i class="fa fa-medkit"></i>  My Medications</legend>
          
       
            <div class="panel-body">
                    <%= render "medications" %>
            </div>



            <legend class="panel-title"><i class="fa fa-flag"></i> My Allergies</legend>
         
             <div class="panel-body">
                    <%= render "allergies" %>
            </div>

</div> <!-- col -->
</div> <!--  row -->

 <div class="row page-break-before"> <!-- Full screen row -->
<div class="col-xs-12">
  <%= @patient.fullname %>
    <legend><i class="fa fa-heartbeat"></i>  My Challenges and Goals</legend>


        <%= render "general" %>
        
        <%= render "problems_goals_only" %>


</div> <!-- col -->
</div> <!--  row -->
 <div class="row page-break-before"> <!-- Full screen row -->
<div class="col-xs-12">

          <%= @patient.fullname %>
          <legend><i class="fa fa-user"></i>   My Care Team</legend>
         
            <div class="panel-body">
                    <%= render "careteam" %>
            </div>

</div> <!-- col -->
</div> <!--  row -->






<div class="row no-page-break-inside"> <!-- Full screen row -->
<div class="col-md-12">

<%= render "annual_measures" %>


            <%= render "bowel" %>









                        <%= render "womens_cancer" %>


                        <%= render "cardiac_risk" %>

            <%= render "lifestyle_check" %>
           



</div> <!-- col -->
</div> <!--  row -->

<div class="row no-page-break-inside"> <!-- Full screen row -->
<div class="col-md-12">



            <legend class="panel-title"><i class="fa fa-medkit"></i>  Immunisations</legend>
       
            <div class="panel-body">
             <table class='table table-striped table-bordered table-condensed'>
                         <tr><td width=50%>Tetanus status</td><td><%= "Given on " + @tetanus.strftime("%d/%m/%Y") if @tetanus %><%= "No record" unless @tetanus %>
                <% if @tetanus_msg %>
                         <a class="btn btn-warning"> Boostrix Due </a>
                <% else %>
                        <a class="btn btn-success"> Up to Date </a>

                <% end %>

            </td></tr>

             <% @immunisations.each do |immunisation | %>
            <tr><td width=50%><%= immunisation["GIVENDATE"].strftime("%d/%m/%Y") %></td><td><%= immunisation["VACCINE"] %></td></tr>
            <% end %>
            </table>
            </div>

</div> <!-- col -->
</div> <!--  row -->









                <%= render "results/print" %>




