<% content_for :head do %>
<script type="text/javascript"> 
    window.onload = function() { window.print(); } 
    window.onfocus=function(){ window.close();}
</script>

<% end %>

<div class="row">
                <div class="col-xs-3">
                        <h2>Care Plan</h2>

                </div>
    			<div class="col-xs-9">
    					<%= render "patient" %>
    	 		</div>


</div>

<div class="row">
<div class="col-md-12">


      


    <legend class="panel-title"></i>  Summary</a></legend>


      <%= render "introduction" %>
      <hr>

</div> <!-- col -->
</div> <!--  row -->



 <div class="row page-break-before"> <!-- Full screen row -->



   <div class="col-md-12">
    <%= @patient.fullname %>
      <legend><i class="fa fa-medkit"></i>  Health Summary</legend>
      
   </div>




  <div class="col-md-6">

 
      <legend class="panel-title"><i class="fa fa-heartbeat"></i>  Current Conditions</legend>
      <div class="panel-body">

                <%= render "problems_notes" %>
      </div>

  </div> <!-- col -->

<div class="col-md-6">
     
   

         <legend class="panel-title"><i class="fa fa-hospital-o"></i>  Medical History</legend>

     
             <div class="panel-body">
                  <%= render "history_notes" %>
            </div>

</div> <!-- col -->
   <div class="col-md-12">
      <hr>
      
   </div>
</div> <!--  row -->





<div class="row no-page-break-inside"> <!-- Full screen row -->
<div class="col-xs-12">
          <%= @patient.fullname %>

          <legend><i class="fa fa-medkit"></i>  Medications</legend>
          
       
            <div class="panel-body">
                    <%= render "medications" %>
            </div>



            <legend class="panel-title"><i class="fa fa-flag"></i> Allergies</legend>
         
             <div class="panel-body">
                    <%= render "allergies" %>
            </div>

</div> <!-- col -->
</div> <!--  row -->

 <div class="row page-break-before"> <!-- Full screen row -->
<div class="col-xs-12">
  <%= @patient.fullname %>
    <legend><i class="fa fa-heartbeat"></i>  Challenges and Goals</legend>


        <%= render "general" %>
        <%= render "problems_goals_only" %>


</div> <!-- col -->
</div> <!--  row -->
 <div class="row page-break-before"> <!-- Full screen row -->
<div class="col-xs-12">

          <%= @patient.fullname %>
          <legend><i class="fa fa-user"></i>   Care Team</legend>
         
            <div class="panel-body">
                    <%= render "careteam" %>
            </div>

</div> <!-- col -->
</div> <!--  row -->

<div class="row"> <!-- Full screen row -->
<div class="col-xs-12">
            <%= @patient.fullname %>
          <legend><i class="fa fa-flag"></i> Calendar</legend>
         
            <div class="panel-body">
              <%= render "appointments" %>
              <hr>
               <%= render "phonetime" %> 
               <hr>
                <%= render "urgent" %> 
                  
            </div>



</div>
</div>
