<div class="row">


    <div class="col-md-4">

    <%= render "form" %>
    <p><p>

    <legend>Search results</legend>
    <p>
 		<% @patients_search.each do |patient| %>

 		<%= link_to patient['SURNAME']+","+patient['FIRSTNAME'], patient_path(:id=> patient['ID']) %>
    <%= link_to "Sum", healthsummary_patient_path(:id=> patient['ID']),{:class => "btn btn-primary btn-xs"} %>
 		<%= link_to "CP", careplan_patient_path(:id=> patient['ID']),{:class => "btn btn-primary btn-xs"} %>
    <%= link_to "An", annual_patient_path(:id=> patient['ID']),{:class => "btn btn-primary btn-xs"} %>
    <%= link_to "Pre", precheck_patient_path(:id=> patient['ID']),{:class => "btn btn-primary btn-xs"} %>
    <%= link_to "Pre", precheck_patient_path(:id=> patient['ID']),{:class => "btn btn-primary btn-xs"} %>
    <%= link_to  "<i class='fa fa-briefcase'></i>".html_safe, new_case_path(patient_id: patient['ID'],name: patient['FIRSTNAME'] + " " + patient['SURNAME']),{:class => "btn btn-primary btn-xs"} %>
 		<br>

 	<% end %>


	</div>
      <div class="col-md-4">
   <legend>Open</legend>
    <% @open_patients.each do |patient| %>
      <%= link_to patient['SURNAME']+","+patient['FIRSTNAME'], patient_path(:id=> patient['PT_ID_FK']) %><br>
    <% end %>
  </div>
  <div class="col-md-4">
    <legend>Seen Today</legend>
    <% @seen_patients.each do |patient| %>
      <%= link_to patient['SURNAME']+","+patient['FIRSTNAME'], patient_path(:id=> patient['ID']) %><br>
    <% end %>

  </div>


</div>