<% content_for :head do %>
<script type="text/javascript"> 
    window.onload = function() { window.print(); } 
</script>

<% end %>

<div class="row">

                <div class="col-md-4">
                    <h2><%= @patient.fullname %></h2>
                </div>
</div>  
<hr>

<div class="row">
    <div class="col-md-12">
    <!--   Half the page for medications   -->
    <%= render "summary" %>
         <%= render partial: "tasks", locals: {tasks: @tasks} %>
            <%= render partial: "medchanges", locals: {meds: @meds} %> 
            <%= render partial: "notes",locals: {notes: @notes} %> 
       

         <%= render "measures" %>
         <hr>
       <%= render "tests" %>
        <hr>

        


            <%=render "appointments" %>
       







    

        
         <hr>
         <%= render "misc" %> 
         <hr>
           <%= render "phonetime" %>
           <hr>
         <%= render "urgent" %>

    </div>



</div>



<br style='page-break-before: always;'>
       
 <div class="row page-break"> <!-- Full screen row -->
<div class="col-md-12">

         <%= render "medications" %>


 </div>
 </div>

 <br style='page-break-before: always;'>
       
 <div class="row page-break"> <!-- Full screen row -->
<div class="col-md-12">

         <%= render "results/print" %>


 </div>
 </div>

 <% @patient.documents.each do |document| %>



<div class="row no-page-break-inside"> <!-- Full screen row -->
<div class="col-md-12">
<h4><%= document.name %></h4>
<%= document.content.html_safe %>


</div>
</div>

<% end %>

  





