<div class="row">

	<div class="col-md-4 col-md-offset-3">
			<h2><%= @patient.fullname %></h2>
	</div>
    <div class="col-md-5">
    	 <div class="row">
            <div class="btn-group btn-group-justified">
                    <%= link_to 'Careplan', careplan_patient_path(@patient.id), {:class => "btn btn-lg btn-primary"} %>
                    <%= link_to 'Summary', healthsummary_patient_path(@patient.id), {:class => "btn btn-lg btn-primary"} %>
                    <% if @patient.is_in_nh? %>
                     <%= link_to 'CMA', cma_patient_path(@patient.id), {:class => "btn btn-lg btn-primary"} %>

                    <% else %>
                     <%= link_to 'Annual', annual_patient_path(@patient.id), {:class => "btn btn-lg btn-primary"} %>
                     <%= link_to 'Pre', precheck_patient_path(@patient.id), {:class => "btn btn-lg btn-primary"} %>
                     <% end %>
    	 	</div>
            <div class="btn-group btn-group-justified">
                    <%= link_to 'Print',patient_path(@patient.id, :consult_id=> @consult['ID'], :print => "true"),{:class => "btn btn-lg btn-primary"} %>

            </div>
            
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <hr>
        </div>
        <div class = "col-md-5 col-md-offset-1">
			<div class="row">
	         	<div class="col-md-5">
	         	DOB: 
	         	</div>
	         	<div class="col-md-7">
	         	<%= @patient.dob.strftime("%d/%m/%y") %> (<%= age_months(@patient.dob)%>)
	         	</div>
	         </div>
	         <div class="row">
	         	<div class="col-md-5">
	         	Address: 
	         	</div>
	         	<div class="col-md-7">
	         	<%= @patient.addressline1 + "," if @patient.addressline1 !="" %>
	         	<%= @patient.addressline2 + "," if @patient.addressline2 !="" %>
	         	<%= @patient.suburb %>
	         	</div>
 			</div>
            <div class="row">
                <div class="col-md-5">
                Home Phone:
                </div>
                <div class="col-md-7">
                <%= @patient.homephone %>
                </div>
             </div>
            <div class="row">
                <div class="col-md-5">
                Mobile: 
                </div>
                <div class="col-md-7">
                <%= @patient.mobilephone %>
                </div>
            </div>

 		</div>
    	
        <div class = "col-md-6">
            <%= render "consult" %>
        </div>
    
</div>

<div class="row">
	<div class="col-md-6">
       
        <hr>
	<!--   Half the page for medications   -->
    <%= render "summary" %>
        <hr>
        <%= render "progress" %>
       
        <hr>
        <legend><i class="fa fa-medkit"></i>  Medications</legend>
        <%=render "medications" %>
        <hr>
         <%= render "measures" %>
         <hr>
       <%= render "tests" %>
        <hr>
        
        
	</div>

	<div class="col-md-6">
        


           
            <%= render "consults" %>
            <%= render partial: "tasks", locals: {tasks: @tasks} %>
            <%= render partial: "medchanges", locals: {meds: @meds, prescription_history: @prescription_history} %> 
            <%= render partial: "notes",locals: {notes: @notes} %> 
                     <%= render "misc" %> 
             <%=render "appointments" %>
             <%=render "results/results" %>
             <%= link_to 'More results', patient_results_path(@id), {:class => "btn btn-lg btn-primary"} %>

             <%=render "registers" %>
          






    

    	


    

	</div>



</div>



