
<% if @patient.documents.count >0 %>
Here are all the action plans for the patient
<ul>
<% @patient.documents.each do |document| %>
	<li id="document-<%= document.id %>"><%= link_to document.name, document_path(id: document.id, source: @source) %>  <%= link_to fa_icon_tag("edit"), edit_document_path(id: document.id, source: @source) %>  <%= link_to fa_icon_tag("trash-o"),document, data: {confirm: "Are you sure you want to delete '#{document.name}'?"}, :remote => true, method: :delete %></li>
<% end %>
</ul>
<% else %>
	There are no current action plans for this patient
<% end %>

<hr>
Add an action plan for this patient using a master template
<ul>
<% masters=Document.where(patient: 0, code: 1) %>
<% masters.each do |master| %>
<li><%= link_to master.name,new_document_path(patient_id: @patient.id, parent: master.id, source: @source)  %></li>
<% end %>
</ul>
<p>
Or <%= link_to "Create a new Master Template",new_document_path(parent: 0,source: @source,patient_id: @patient.id) %>



