
<%= form_for(@document, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.form_group :name do |f| %>
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :description do |f| %>
      <%= f.label :description, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_area :description, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>


        <%= f.hidden_field :patient_id %>
        <%= f.hidden_field :parent %>
        <%= f.hidden_field :texttype  %>
 
    <% if @document.patient_id and @document.patient_id != "0" %>
        <%= f.hidden_field :code  %>
    <% else %>
        <%= f.form_group :code do |f| %>
          <%= f.label :code, class: 'control-label col-md-2' %>
          <div class='col-md-8'>
            <%= f.select :code, options_for_select([['Action Plan', 1], ['Information', 2], ['Policy', 3]]) %>
            <%= f.error_messages %>
          </div>
        <% end %>
    <% end %>



    <%= f.form_group :content do |f| %>
      <%= f.label :content, class: 'control-label col-md-2' %>
      <div class='col-md-10'>

        <%= f.text_area :content, :class => "tinymce", :rows => 40,  style: 'width:100%;' %>
         
        </div>
    <% end %>

  </div>
  <input type='hidden' name='source' value='<%= @source %>'>
  <input type='hidden' name='returnPatient' value='<%= @returnPatient %>'>
  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", documents_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

