<% @title = "Showing document" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/Documents/show.html.erb</code>.</p>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sheet sheet-condensed">
          <div class="sheet-inner p30">
            <div class="form-horizontal">
                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.name %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.description %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Patient</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.patient_id %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Code</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.code %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Parent</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.parent %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Texttype</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.texttype %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Content</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @document.content %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                            <div class="form-actions col-md-offset-2">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_document_path(@document), class: 'btn btn-primary' %>
                <%= link_to 'Back', documents_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
