
<%= form_for(@recall, html: { class: 'form form-horizontal'} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.form_group :title do |f| %>
      <%= f.label :title, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_area :title, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :cat do |f| %>
      <%= f.label :cat, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        
        <%= f.select :cat, Recall.cats.each_with_index.map {|name, index| [name,index]}, class: 'form-control'  %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", recalls_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

