
<div class="row">
<%= form_for(@measurement, html: { class: 'form', remote: 'true' }) do |f| %>


 
    <%= f.hidden_field :patient_id, :value => @goal.patient_id  %>
    <%= f.hidden_field :measure_id, :value => @measure.id  %>
    <%= hidden_field_tag :goal_id, @goal.id  %>


 
    <div class='col-md-1'>
      <%= f.label :value, class: 'form-label' %>
      </div>
      <div class='col-md-2'>
        <%= f.number_field :value, class: 'form-control input-mini' %>
      </div>



      <div class='col-md-4'>
        <%= f.date_select :measuredate, class: 'form-control' %>
      </div>


  

  <div class="col-md-2">
    <%= f.submit "Add", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

