
<%= form_for(@chapter, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.form_group :chapter do |f| %>
      <%= f.label :chapter, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_area :chapter, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :section_id do |f| %>
      <%= f.label :section_id, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.number_field :section_id, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :position do |f| %>
      <%= f.label :position, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.number_field :position, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", chapters_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

