<% @title = "Listing chapters" %>
<% @title +=  " for Section "+ @section.name if @section %>










<% if @section %>
<% content_for :actions do %>
<%= link_to 'Back', section_path(@section), {class: 'btn btn-primary btn-large pull-right'} %>
<%= link_to new_section_chapter_path(section_id: @section.id), class: 'btn btn-primary btn-large pull-right' do %>
<%= fa_icon_tag "plus" %> Add Chapter
<% end %>
<% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
              <tr>
                                <th>Chapter</th>
                                 <% unless @section %>
                                <th>Section</th>
                                <% end %>
                                <th>Position</th>
                              
                                <th>Check</th>
              </tr>
            </thead>
            <tbody>
              <% @chapters.each do |chapter| %>
              <tr>
                                <td><%= chapter.chapter %></td>
                                
                                <% unless @section %>
                                <td>
                                <%= chapter.section.name %>
                                </td>
                                <% end %>
                                
                                <td><%= chapter.sort %></td>
                                <td><%= chapter.check ? "1" : "0" %></td>
                                <td class="actions">
                  <%= link_to fa_icon_tag("eye"), chapter, rel: 'tooltip', title: 'Show' %>
                  <%= link_to fa_icon_tag("pencil"), edit_chapter_path(chapter), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to fa_icon_tag("trash-o"), chapter, rel: 'tooltip', title: 'Delete',
                  data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
              <% end %>
              <% if @chapters.length == 0 %>
              <tr><td colspan=42 class='text-center'>No chapters.</td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

                </div>
  </div>
</div>
