<% @title = "Headers" %>
<% @title +=  " for Register "+ @register.name if @register %>

<% content_for :description do %>
<p>This page is used for adding or editing the headers in a register spreadsheet</p>
<% end %>

<% content_for :actions do %>
<%= link_to new_header_path, class: 'btn btn-primary btn-large pull-right' do %>
<%= fa_icon_tag "plus" %> Add Header
<% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
              <tr>
                                <th>Name</th>
                                <% unless @register %>
                                  <th>Register</th>
                                <% end %>
                                <th>Code</th>
                                <th>Keyword</th>
                                <th>Sort</th>
                                <th>Special</th>
                                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @headers.each do |header| %>
              <tr>
                                <td><%= header.name %></td>
                                <% unless register %>
                                <td><%= header.register.name %></td>
                                <% end %>
                                <td><%= header.code %></td>
                                <td><%= header.keyword %></td>
                                <td><%= header.sort %></td>
                                <td><%= header.special %></td>
                                <td class="actions">
                  <%= link_to fa_icon_tag("eye"), header, rel: 'tooltip', title: 'Show' %>
                  <%= link_to fa_icon_tag("pencil"), edit_header_path(header), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to fa_icon_tag("trash-o"), header, rel: 'tooltip', title: 'Delete',
                  data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
              <% end %>
              <% if @headers.length == 0 %>
              <tr><td colspan=42 class='text-center'>No headers.</td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

                </div>
  </div>
</div>
