<% @title = "Showing header" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/Headers/show.html.erb</code>.</p>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sheet sheet-condensed">
          <div class="sheet-inner p30">
            <div class="form-horizontal">
                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @header.name %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
               <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Register</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @header.register_id %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Sort</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @header.sort %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Code</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @header.code %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Special</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @header.special %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                            <div class="form-actions col-md-offset-2">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_header_path(@header), class: 'btn btn-primary' %>
                <%= link_to 'Back', headers_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
