<div id="goal_<%=@goal.id%>" class="no-page-break-inside">
<b><a href="#" id="editable_goal_title_<%=@goal.id%>" data-defaultValue="Add new goal" data-type="text" data-pk="1" data-resource="goal" data-name="title" data-url="/goals/<%=@goal.id%>" data-emptytext= "Notes"data-placeholder="Your notes here..." data-original-title="Enter notes" class="editable"><%= @goal.title %> </a></b>
<%= link_to fa_icon_tag("trash-o"),@goal, data: {confirm: "Are you sure you want to delete '#{@goal.title}'?"}, :remote => true, method: :delete %>

<br>
<a href="#" id="editable_goal_desc_<%=@goal.id%>" data-defaultValue="Add new goal" data-type="textarea" data-pk="1" data-resource="goal" data-touch="goal-<%=@goal.id%>-touch" data-name="description" data-emptytext= "What does success look like?" data-url="/goals/<%=@goal.id%>" data-placeholder="What does success look like?" data-original-title="What does success look like?" class="editable editableUpdate"><%= textarea_format(@goal.description) %> </a><br> 
<a href="#" id="editable_goal_by_<%=@goal.id%>" data-defaultValue="Add new goal" data-type="textarea" data-pk="1" data-resource="goal" data-touch="goal-<%=@goal.id%>-touch" data-name="by" data-emptytext= "What will I do?" data-url="/goals/<%=@goal.id%>" data-placeholder="Your notes here..." data-original-title="What will I do?" class="editable editableUpdate"><%= textarea_format(@goal.by) %> </a><br> 

<a href="#" id="editable_goal_fallback1_<%=@goal.id%>" data-defaultValue="Add new goal" data-type="textarea" data-pk="1" data-resource="goal" data-touch="goal-<%=@goal.id%>-touch" data-name="fallback1" data-emptytext= "What is my fallback?" data-url="/goals/<%=@goal.id%>" data-placeholder="What is my fallback" data-original-title="What is my fallback" class="editable editableUpdate"><%= textarea_format(@goal.fallback1) %> </a><br> 

<span id='goal-<%= @goal.id %>-touch' class='small'>
	<% if @goal.updated_at.to_date == Date.today %>
	Updated Today
	<% else %>
	<i class='fa fa-sm fa-exclamation-triangle'></i>
	<%= link_to @goal.updateMessage, touch_goal_path(@goal), remote: true %>
	<% end %>
</span>


<% if @goal.measure_id != 0 and @goal.measure_id != nil%>
	<% @goal.target = @goal.measure.target if @goal.target== nil %>
	<br>My target for <%= goal.measure.name %> is set at 
	<a href="#" id="editable_goal_target_<%=@goal.id%>" data-defaultValue="New Target" data-emptytext= "0"data-type="text" data-pk="1" data-resource="goal" data-name="target" data-url="/goals/<%=@goal.id%>" data-placeholder="Target here..." data-original-title="Enter target" class="editable"><%= @goal.target %> </a>

	<%= render partial: "measures/measure", object: @goal.measure %>
<% end %>
</div> <!-- end id = goal_ -->
<hr class="hrshrink">