<div id="goal_<%=@goal.id%>" class="no-page-break-inside">

  <div class = "row">
	  	<div class="col-md-12">
		<b><%= @goal.title %></b>
		</div>
		<div class="col-md-4">
		Success:<br>
		<%= simple_format(@goal.description) %>
		</div>
		<div class="col-md-4">
		<% if goal.by %>
			Actions:<br><%= simple_format(@goal.by) %>
		<% end %>
		</div>
		<div class="col-md-4">
		<% if goal.fallback1 %>
			Fallback:<br><%= simple_format(@goal.fallback1) %>
		<% end %>
		</div>
	</div>




<% if @goal.measure_id != 0 and @goal.measure_id != nil %>
	<% @goal.target = @goal.measure.target if @goal.target== nil %>
	My target for <%= goal.measure.name %> is set at <%= @goal.target %>

	<%= render partial: "measures/measure", object: @goal.measure %>
<% end %>
</div> <!-- end id = goal_ -->
<hr class="hrshrink">