<% @title = "Showing consult" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/Consults/show.html.erb</code>.</p>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sheet sheet-condensed">
          <div class="sheet-inner p30">
            <div class="form-horizontal">
                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Provider</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.provider_id %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Patient</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.patient_id %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Consultdate</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.consultdate %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Mbs</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.mbs %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Type</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.consulttype %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Notes</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.notes %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Billed</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.billed %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                              <div class="form-inputs">
                 <div class="form-group">
                    <label class="col-md-2 control-label">Complete</label>
                    <div class="col-md-8">
                     <div class="form-control uneditable-input">
                        <span>
                          <%= @consult.complete %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>


                            <div class="form-actions col-md-offset-2">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_consult_path(@consult), class: 'btn btn-primary' %>
                <%= link_to 'Back', consults_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
