<style>
	.form-horizontal .form-group { margin-bottom: -3px; }
</style>
<div class="row">
<%= form_for(@patient_recall, html: { class: 'form form-horizontal', remote: 'true' }) do |f| %>

	<div class='col-md-3'>

		  <div class="form-group form-group-sm">
		    <%= label_tag :everyUnit, "Every", class: "col-md-2 control-label" %>
		    <div class="col-md-10">
		      <%= f.text_field :everyUnit, id: "everyUnit-"+@member.id.to_s,  value: showEvery(@member.everyNumber,@member.everyUnit,false), class: 'form-control' %>
		    </div>
		  </div>
   </div>


		


      <div class='col-md-4'>
      	
        <!-- <%= f.text_field :nextDay, id: "nextDay-"+@member.id.to_s, value: showNext(@member.nextDay, @member.nextMonth, @member.nextYear,false), class: 'form-control input-mini' %>
        -->
                  
                    <!-- <input type='text' class="form-control" />
                    <%= f.text_field :nextDay, id: "nextDay-"+@member.id.to_s, value: showNext(@member.nextDay, @member.nextMonth, @member.nextYear,false), class: 'form-control input-mini' %>
                -->
<!--
                <div class='input-group date datepicker' id='datetimepicker<%= @member.id %>' >
                    
                    <%= f.text_field :nextDay, id: "nextDay-"+@member.id.to_s, value: showNext(@member.nextDay, @member.nextMonth, @member.nextYear,false), class: 'form-control form-control-sm input-mini input-group' %>
                    <span class="input-group-addon">

                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
-->         <div class="form-group form-group-sm">
          
           
           	 <%= label_tag :nextDay, "Next", class: "col-md-2 control-label" %>
          
          	<div class='col-md-10'>
                <div class='input-group date datepicker' id='datetimepicker<%= @member.id %>'>
                   
					
					<%= f.text_field :nextDay, id: "nextDay-"+@member.id.to_s, value: showNext(@member.nextDay, @member.nextMonth, @member.nextYear,false), class: 'form-control form-control-sm input-group input-small' %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
           </div>
        
       

           </div>



</div>







                   
   


  

  <div class="col-md-3">
  	 <div class="form-group form-group-sm">
<%= button_tag "", type: 'submit', class: "btn btn-sm btn-success glyphicon glyphicon-ok" %>
<%= button_tag "", type: 'button', class: "btn btn-sm btn-warning glyphicon glyphicon-remove cancel-member", data: { patient_recall: @patient_recall.id } %>
<%= button_tag "", type: 'button', class: "btn btn-sm btn-danger glyphicon glyphicon-trash clear-member", data: { patient_recall: @patient_recall.id } %>
  </div>
</div>

<% end %>


</div>