<div class="row" id="chart-measure-<%= @chart[:measure_id] %>">
     <div class="panel panel-metric">
        <div class="panel-body">
          <div class="metric-content">
              <div class="row">
                      <header class='col-md-12'>
                        <h3><%= @chart[:title] %></h3>
                        <%= @chart[:description] %>
                      </header>
                        <% if @print %>
                      <% chartWidth = "col-md-3" %>
                        <% else %>
                        <% chartWidth = "col-md-8" %>
              
                        <% end %>
                     
                        <%= content_tag :div,"", class: "chart "+chartWidth,id: "chart_"+@chart[:measure_id].to_s, data: {values: @chart[:values], goals: @chart[:goals],labels: @chart[:labels], xkey: @chart[:xkey], ykeys: @chart[:ykeys], units: @chart[:units]   }, style: "min-height: 250px;" %>
                       <% colsSize = 12 %>
                       <% if @print %>

                         <% colsSize = 6 %>
                         <% if @chart[:goals][0]!=nil %>
                              <% colsSize = 4 %>
                         <% end %>

                         </div> <!-- ROW -->
                         <div class='row'>
                       <% end %>

                     <% if @print %>
                     <div class="col-md-12">
                     <% measureClass = "metric-value" %>
                     <% else %>
                     <% measureClass = "metric-trend" %>
                    <div class="col-md-4">
                    <% end %>
                          <div class="metric-value col-md-<%= colsSize %>">
                         <p>
                          <%= @chart[:last] %>  <%= @chart[:units] %>
                          <small>MOST RECENT (<%= @chart[:last_date].strftime("%d/%m/%y")%>)</small>
                          </p>
                        </div>
                        <div class="<%= measureClass %> col-md-<%= colsSize %>">
                          <% if @chart[:values].count>1 %>
                           <p class="text-danger">
   
                            <%= @chart[:secondlast] %> 
                             (<% if @chart[:caret] != "" %>
                              <i class='fa fa-chevron-<%= @chart[:caret] %>'></i>
                            <% end %><%= @chart[:diff].abs %> <%= @chart[:units] %>)
                         
                          <small><%= distance_of_time_in_words(@chart[:last_date],@chart[:secondlast_date]) %> before</small>
                           </p>
                          <% end %>
                         

                          <% if @chart[:goals][0]!=nil %>
                          <% if @print %>
                          </div>
                            <div class="<%= measureClass %> col-md-<%= colsSize %>">

                          <% else %>
                          <p><br>
                          <% end %>
                          <p>
                              
                            <%= @chart[:goals][0] %> 
                             (<% if @chart[:caretgap] != "" %>
                              <i class='fa fa-chevron-<%= @chart[:caretgap] %>'></i>
                            <% end %><%= @chart[:gap] %> <%= @chart[:units] %>)
                          

                          <small>TARGET</small>
                          </p>
                          <% end %>
                        </div>
                    </div> <!-- col-md-5 -->
              </div> <!-- row -->
          </div>  <!-- metric-content -->
        </div>  <!-- panel-body -->
      </div>  <!-- panel-->

</div>



