<div class='row'>
<div class="col-md-10">
<h1><%= @table %> (<%= pluralize(@count, "record") %>) </h1>
</div>
<div class="col-md-2">
	<%= link_to 'All', database_index_path, {:class => "btn btn-lg btn-primary"} %>
</div>
</div>



<table class='table condensed table-striped'>

	<% @columns.each do |column| %>
		<tr>
				<% for i in 3..17 do %>
		 				<td><%= column[i] %> </td>
				<% end %>

		</tr>
	<% end %>
	
</table>

<%= form_tag do %>
<%= hidden_field_tag 'table', @table %>
SELECT * from <%= @table %> where <%= select_tag 'column', options_for_select(@columns.map {|column| [column[3],column[3]]}) %>
= <%= text_field_tag 'value', nil ,size: 10 %>
<%= select_tag 'number', options_for_select(["All","First"]) %>
<%= submit_tag "SELECT", class: "btn-primary" %><p>
<%= submit_tag "SHOW ALL", class: "btn-primary" %>



<% end %>
<% if @sql and @result%>
	<%= @sql %> gives <p>
	<table class="table">
	  <thead>
	    <tr>
	    	<% @columns.each do |column| %>
	    		<th scope="col"><%= column[3] %></th>
	    	<% end %>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @bigresults=[] %>
	  	<% i=0  %>
	  	<% @result.each do |result| %>
	    <tr>
	    	
			
			<% @columns.each do |column| %>
			<% colval = result[column[3].upcase] %>
			
			<td>	

				<% if colval.to_s.length < 100 %>
					<%= colval %>
				<% else %>
					
					<% @bigresults << colval %>
					<%= link_to "View","#colval-"+ i.to_s %>	
					<% i = i + 1 %>	
				<% end %>
			</td>
			<% end %>
			
		</tr>
		<% end %>

	</tbody>
	</table>
	<table class='table'>
		
	<% @bigresults.each_with_index do |bigresult,i| %>
	<tr>
		<td><div id='colval-<%= (i+1).to_s %>'>
			<a name ='colval-<%= (1+i).to_s %>'></a><%= breaking_wrap_wrap(bigresult, col = 120) %>
		</div>
		</td>
	</tr>
	<% end %>
	</table>
<% end %>


