<%# Links for current user. %>
<nav class='navbar'>
  <div class='navbar-brand'>
    <%= Pref.clinic %> <%= Pref.phone %>
  </div>
  <div class="navbar-text pull-right">
  	<% if session[:username] %>
    <%= fa_icon_tag "user" %> Hi, <strong><%= session[:name] %></strong>
    <span class="divider">|</span>
    <%= link_to "Patients",root_path, { "data-no-turbolink" => "true"} %>
    <span class="divider">|</span>
    <%= link_to "Appointments",{controller: "appointments"}, { "data-no-turbolink" => "true"} %>
    <span class="divider">|</span>
    <%= link_to "NH",nursinghome_index_path, { "data-no-turbolink" => "true"} %>
<span class="divider">|</span>

    <%= link_to "PreChecks",prechecks_patient_index_path, { "data-no-turbolink" => "true"} %>
<span class="divider">|</span>



  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cogs"></i></a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   <li><%= link_to "Search",root_path, { "data-no-turbolink" => "true"} %></li>
   <li><%= link_to "Appointments",{controller: "appointments"}, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Nursing Home Rounds",nursinghome_index_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Disconnect", controller: "genie", action: "login" %></li>
  
    <li role="separator" class="divider"></li>
    <li><%= link_to "Anaylsis", billing_index_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Goals",goals_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Measures",measures_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Masters",masters_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Measurements",measurements_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Phonetimes",phonetimes_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Registers",registers_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Preferences",prefs_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Orion download",orion_patient_index_path, { "data-no-turbolink" => "true"} %></li>
  </ul>
    <span class="divider">|</span>

     <%= link_to ("<i class='fa fa-refresh'></i>").html_safe, url_for(params), { "data-no-turbolink" => "true"} %>
<span class="divider">|</span>
    <% end %> 

  
  </div>
</nav>