<%# Links for current user. %>
<nav class='navbar'>
  <div class='navbar-brand'>
    <%= Pref.clinic %> <%= Pref.phone %>
  </div>
  <div class="navbar-text pull-right">
  	<% if session[:username] %>
    <%= fa_icon_tag "user" %> Hi, <strong><%= session[:name] %></strong>
    <span class="divider">|</span>
    <%= link_to "Patients",root_path, { "data-no-turbolink" => "true"} %>
    <span class="divider">|</span>
    <%= link_to "Appointments",{controller: "appointments"}, { "data-no-turbolink" => "true"} %>
    <span class="divider">|</span>



  <div class="btn-group">
  <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu12" href="#" >NH</a>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu12">
   
        <li><%= link_to "Today's consults",nursinghome_index_path, { "data-no-turbolink" => "true"} %></li>

    <% if @nhAll.count > 0 %>
    <li class="dropdown-header">Nursing Homes</li>
    <% @nhAll.each do |r| %>
          <li><%= link_to r.name,register_path(r), { "data-no-turbolink" => "true"} %></li>
    <% end %>
    <% end %>

    <li><%= link_to "Add/Edit Nursing Home",registers_path(code: 1), { "data-no-turbolink" => "true"} %></li>
  </ul>
</div>



<span class="divider">|</span>

    <%= link_to "PreChecks",prechecks_patient_index_path, { "data-no-turbolink" => "true"} %>
<span class="divider">|</span>

  <div class="btn-group">
  <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" href="#" ><i class="fa fa-table"></i></a>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
    <li class="dropdown-header">Registers</li>
    <% @registersAll.each do |r| %>
          <li><%= link_to r.name,register_path(r), { "data-no-turbolink" => "true"} %></li>
    <% end %>

    <li><%= link_to "Add/Edit Registers",registers_path, { "data-no-turbolink" => "true"} %></li>
  </ul>
</div>
<span class="divider">|</span>
 <div class="btn-group">
  <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" href="#"><i class="fa fa-cogs"></i></a>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
    
    <li><%= link_to "Analysis", billing_index_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Prepare", prepare_appointments_path, { "data-no-turbolink" => "true"} %></li>
      <li><%= link_to "Examen", examen_appointments_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
     <li class="dropdown-header">Editors</li>
    <li><%= link_to "Goals",goals_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Measures",measures_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Masters",masters_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Measurements",measurements_path, { "data-no-turbolink" => "true"} %></li>
    <li><%= link_to "Phonetimes",phonetimes_path, { "data-no-turbolink" => "true"} %></li>
     <li><%= link_to "Sections",sections_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Orion download",orion_patient_index_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
  
       <li><%= link_to "Preferences",prefs_path, { "data-no-turbolink" => "true"} %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Restart Aladdin", controller: "genie", action: "login", restart: "true" %></li>

    <li role="separator" class="divider"></li>
    <li><%= link_to "Disconnect", controller: "genie", action: "login" %></li>
  </ul>
</div>
    <span class="divider">|</span>

     <%= link_to ("<i class='fa fa-refresh'></i>").html_safe, url_for(params), { "data-no-turbolink" => "true"} %>
<span class="divider">|</span>
    <% else %>
        <% if alert  or notice %>
          <%= link_to "Restart Aladdin", controller: "genie", action: "login", restart: "true" %>
        <% end %>
    <% end %>

  
  </div>
</nav>