<style>
	.form-horizontal .form-group { margin-bottom: -3px; }
</style>
<div class="row">
	This is the recall form
<%= form_for(@member, html: { class: 'form form-horizontal'}) do |f| %>
<div class='col-md-2'>
	<%= f.hidden_field :patient_id, :value => @member.patient_id  %>
	<%= f.select :genie_id, options_from_collection_for_select(@recalls, :id, :title) %>

</div>
	<div class='col-md-3'>

		  <div class="form-group form-group-sm">
		    <%= label_tag :everyUnit, "Every", class: "col-md-2 control-label" %>
		    <div class="col-md-10">
		      <%= f.text_field :everyUnit, id: "everyUnit-"+@member.id.to_s,  value: showEvery(@member.everyNumber,@member.everyUnit,false), class: 'form-control' %>
		    </div>
		  </div>
   </div>


		


      <div class='col-md-3'>

-->         <div class="form-group form-group-sm">
          
           
           	 <%= label_tag :nextDay, "Next", class: "col-md-2 control-label" %>
          
          	<div class='col-md-10'>
                <div class='input-group date datepicker' id='datetimepicker<%= @member.id %>'>
                   
					
					<%= f.text_field :nextDay, id: "nextDay-"+@member.id.to_s, value: showNext(@member.nextDay, @member.nextMonth, @member.nextYear,false), class: 'form-control form-control-sm input-group input-small' %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
           </div>
        
       

           </div>



</div>







                   
   


  

  <div class="col-md-3">
  	 <div class="form-group form-group-sm">
<%= button_tag "", type: 'submit', class: "btn btn-sm btn-success glyphicon glyphicon-ok" %>
<%= button_tag "", type: 'button', class: "btn btn-sm btn-warning glyphicon glyphicon-remove cancel-member", data: { member: @member.id } %>
<%= button_tag "", type: 'button', class: "btn btn-sm btn-danger glyphicon glyphicon-trash clear-member", data: { member: @member.id } %>
  </div>
</div>

<% end %>


</div>